//覆盖 ElementPlus 的样式

.el-header {
  padding: 0px !important;
}

.el-aside {
  width: auto;
  //菜单没有边界线
  .el-menu {
    border-right: none;
  }
  //重置菜单折叠的过渡
  .horizontal-collapse-transition {
    transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
  }
}

.el-message-box .el-message-box__btns {
  justify-content: unset !important;
  flex-direction: row-reverse !important;
}

.el-message-box .el-message-box__btns button:nth-child(2) {
  margin-left: 0px !important;
  margin-right: 10px !important;
}