//全局变量

$sideWidth: 210px;                 //侧边菜单栏宽度
$sideMenuTextColor: #ffffff;     //侧边栏菜单文本颜色
$sideMenuHoverBgColor: #001528;  //侧边栏菜单鼠标经过时的背景颜色
$sideSubMenuBgColor: #1f2d3d;    //侧边栏菜单下的子菜单背景颜色
$headHeight: 50px;                 //顶部导航栏高度