@import './element-plus.scss';
@import './variables.scss';
@import './transition.scss';

.mark-down-code-language {
  position: absolute;
  right: 0px;
  top: 0px;
  font-weight: bold;
  color: var(--el-color-info-light-5);
  background-color: #263445;
  padding: 0.5em;
}