//全局变量
$headHeight: 50px;                 //顶部导航栏高度
$headMenuTextColor: #ffffff;     //侧边栏菜单文本颜色
$headMenuHoverBgColor: rgba(0, 0, 0, 0.5);  //侧边栏菜单鼠标经过时的背景颜色
$headSubMenuBgColor: rgba(0, 0, 0, 0.5);    //侧边栏菜单下的子菜单背景颜色